<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>WebShop</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>ListCart</servlet-name>
		<servlet-class>Servlets.ListCart</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddItemToCart</servlet-name>
		<servlet-class>Servlets.AddItemToCart</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginPage</servlet-name>
		<jsp-file>/Pages/login.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>ListShopItems</servlet-name>
		<servlet-class>Servlets.ListShopItems</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListEditItems</servlet-name>
		<servlet-class>Servlets.ListEditItems</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetItem</servlet-name>
		<servlet-class>Servlets.GetItem</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditItem</servlet-name>
		<servlet-class>Servlets.EditItem</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>Servlets.LogoutService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListCart</servlet-name>
		<url-pattern>/cart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddItemToCart</servlet-name>
		<url-pattern>/AddItemToCart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginPage</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListShopItems</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListEditItems</servlet-name>
		<url-pattern>/ItemAdministrator</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetItem</servlet-name>
		<url-pattern>/ItemEditor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditItem</servlet-name>
		<url-pattern>/EditItem</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
</web-app>